<!DOCTYPE html>
<html lang="en">
<head>
  @include('partial/meta')
  <title>{{ title }}</title>
</head>
<body class="body-content">
 <main class="form-signin">

  @!section('body')

  @include('partial/script')
 </main>
</body>
</html>
